# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.mp4
.ipynb_checkpoints/
yolov3.weights
frozen_inference_graph.pb
MobileNetSSD_deploy.caffemodel
__pycache__
results/
nohup.out
.venvs/
*.zip
*.pyc
tests/
confidence_test.ipynb
*.pickle
*.png
caviar_dataset/
darknet/
